body {
	background-color: #dcedc8;
	font-family: arial, helvetica , serif;
	background: white url(http://www.htmldog.com/images/bg.gif) no-repeat top right;


}

h1 {
	color: #212121;
	font-weight: bolder;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 2em;
	margin: 20px;
	padding: 20px;
	
}

h2 {
	border-style: dashed;
	border-radius: 5px;
	border-width: 3px;
	border-color: #629791;
}

.reasons {
	background-color: white;
}

.colTable {
	border-width: 2px;
}

.middleColumn {
	background-color: white;
}

input[type=email]:valid{
	
}

input[type=email]:invalid{
	background: red;
}

.main_navigation{
	list-style-type: none;
}

.main_nav_link{
	display: inline;
}

a:link {
	color: blue;
}

a:visited {
	color : purple;
}

a:active {
	color: red;
}

a:hover {
	text-decoration: none;
	background-color: yellow;
	color: red;
}