body {
	background-color: #dcedc8;
	font-family: arial, helvetica , serif;
}

h1 {
	color: #212121;
	font-weight: bolder;
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 2em;
	margin: 20px;
	padding: 20px;
	
}

h2 {
	border-style: dashed;
	border-radius: 5px;
	border-width: 3px;
	border-color: #629791;
}

.reasons {
	background-color: white;
}

.colTable {
	border-width: 2px;
}

.middleColumn {
	background-color: white;
}

input[type=email]:valid{
	
}

input[type=email]:invalid{
	background: red;
}